* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

#app {
    margin-top: 50px;
}

.nav-bar {
    width: 800px;
    margin: auto;
}

.title {
    background-color: lightgray;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    h1 {
        padding: 20px 0px;
        margin-left: 300px;
    }
}

.data-sheet {
    width: 800px;
    margin: auto;
    background-color: whitesmoke;
    background-color: yellow;

//    display: flex;

    .status-bar {
        display: flex;

        .tools {

        }

        .stores {
         text-align: right;
        }
    }

    .time-track {
        padding: 5px 0px;
        display: flex;
        justify-content: space-evenly;
        background-color: lime;
        font-size: 25px;

        span {
            margin: 2px;
        }
    }

    .gods-hand {
        background-color: lime;
        padding: 5px 0px;
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
        .dogs-hand-points {
            display: flex;
        }

        span {
            margin: 2px;
        }
    }

}